
.vscode/**
.vscode-test/**
test/**
tests/**
__tests__/**
coverage/**
node_modules/**
.git/**
.DS_Store
.env
.idea/**
.history/**
src/**
**/*.ts
**/*.map
tsconfig.json
eslint.config.mjs
.gitignore
.yarnrc
vsc-extension-quickstart.md
CHANGELOG.md

!out/**
!package.json
!README.md
!LICENSE
